@*@model IEnumerable<CIPlatformWeb.Entities.DataModels.Mission>*@
@model LandingPageVM

@using System.Security.Claims;
@{
	var identity = User.Identity as ClaimsIdentity;
	var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
	var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
	var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;
}

<!DOCTYPE html>
<html lang="en">

<head>
	@*<link rel="stylesheet" href="~/css/StyleSheet.css" asp-asp-append-version="true">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/LandingPage.css">*@

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<title>Landing Page </title>
</head>

<body>
	<div style="background-color:red !important;">
		@if (TempData["Success Message"] != null)
		{
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script type="text/javascript">
				toastr.success('@TempData["Success Message"]');
			</script>
		}
		@if (TempData["Error Message"] != null)
		{
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
			<script src="~/lib/jquery/dist/jquery.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script type="text/javascript">
				toastr.warning('@TempData["Error"]');
			</script>
		}
	</div>
	<section class="main">

		
	@*	<partial name="Shared/_navbarpartial.cshtml">*@
		@{
			Html.RenderPartial("_navbarpartial");
		}



		<div class="filters-section d-flex align-items-center flex-wrap justify-content-start" style="padding-left: 130px ;">
		</div>
	</section>

	<div id="missions-list">

	</div>







	<!-- footer start  -->
	<div class="copyright mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="copyright-menu">
						<ul>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Cookie Policy</a>
							</li>
							<li>
								<a href="#">Terms of Use</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-md-6 rights">
					<span> © 2019 Optimy.com. All Right Reserved</span>
				</div>
			</div>
		</div>
	</div>





	@*<a href="~/lib/jquery/dist/jquery.min.map"></a>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/LandingPage.js" asp-append-version="true"></script>*@

	@*If This Link is enabled , dropdown not work in landing page*@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<a href="~/lib/jquery/dist/jquery.min.map"></a>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/LandingPage.js" asp-append-version="true"></script>




	<script>
		
		@*Rating star *@
			$(".ratingStar").hover(function () {
				$(".ratingStar").addClass("fa-regular").removeClass("fa-solid")

				$(this).addClass("fa-solid").removeClass("fa-regular")
				$(this).prevAll(".ratingStar").addClass("fa-solid").removeClass("fa-regular")
			});




	
	</script>

</body>

</html>

