<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIPlatform_Main</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*below link is for bootstrap icon*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    @*css for register*@
    <link rel="stylesheet" href="~/css/registration.css">
    @*css for Login*@
    <link rel="stylesheet" href="~/css/login.css">
    @*css for forgot password*@
    <link rel="stylesheet" href="~/css/forgot.css">
    @*css for forgot password*@
    <link rel="stylesheet" href="~/css/resetPassword.css">
    @*css for Landing Page*@
    <link rel="stylesheet" href="~/css/LandingPage.css">
    @*css for Related Mission Page*@
    <link rel="stylesheet" href="~/css/MissonAndRating.css">
    @*css for StoryListingPage*@
    <link rel="stylesheet" href="~/css/storyListingPage.css">
    @*css for sharYourStory*@
    <link rel="stylesheet" href="~/css/storyDetails.css">
    @*css for UserPage on Admin panel*@
    <link rel="stylesheet" href="~/css/User.css">
  
   
</head>
<body>

    @*Remove class container in _layout.cshtml div because it will take extra space both side *@   
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        function notloggedin() {
            // trigger the alert message using Swal.fires
            Swal.fire({
                icon: 'error',
                showCloseButton: true,
                title: 'Please Login',
                showConfirmButton: false,
                text: 'Press the below button to login or Register',
                footer: '<div class="btn-group">' +
                    '<a href="' + '@Url.Action("Login", "Login")"' + ' class="btn btn-success">Login</a>' +
                    '<a href="' + '@Url.Action("Registration", "Registration")"' + ' class="btn btn-dark">Register</a>' +
                    '</div>',
            });
            //console.log(footer);
        };

        function missionClosed(){
           
                Swal.fire({
                title: "Mission Closed",
                text: "You are too late mission was already closed.",
                icon: "warning",
                confirmButtonText: "OK"

            });

        }

        function password() {
            var icon = $('.bi')
            var pass = $('#loginPassword')
            if (icon.hasClass('bi-eye')) {
                icon.removeClass('bi-eye')
                icon.addClass('bi-eye-slash')
                pass.attr('type', 'text')
            } else {
                icon.addClass('bi-eye')
                icon.removeClass('bi-eye-slash')
                pass.attr('type', 'password')
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
